/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:500&display=swap');
@import '_null';


html {
  font-size: 18px;
}

body {
  font-family: 'Inter', sans-serif;
  color: #212529;
  line-height: 1;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1511px;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
  color: #212529;
}

.button {
  padding: 20px 40px 20px 40px;
  background: #4f9cf9;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #fff;
}

.header {
}

.main {
  flex: 1 1 auto;
}

.your-work {
  background: #043873;
  // .your-work__container

  &__container {
    display: flex;
    justify-content: center;
  }

  // .your-work__content

  &__content {
    padding: 148px 0px 140px 0px;
    max-width: 1064px;
    display: flex;
    flex-direction: column;
  }

  // .your-work__title

  &__title {
    color: #fff;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  // .your-work__text

  &__text {
    line-height: 167%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  // .your-work__button

  &__button {
    align-self: center;
  }
}

.footer {}