@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  font-family: "Inter", sans-serif;
  color: #212529;
  line-height: 1;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1511px;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
  line-height: 120%;
}

.underline-title {
  position: relative;
  z-index: 1;
}
.underline-title::after {
  position: absolute;
  z-index: -1;
  top: 65px;
  left: 0;
  margin: 0px 0px 0px 7%;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/underline.svg") 0 0/100% no-repeat;
}

.button {
  padding: 20px 40px 20px 40px;
  background-color: #4f9cf9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: #7cb7fa;
}

.arrow-button {
  padding: 20px 40px 20px 40px;
  background-color: #4f9cf9;
  border-radius: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.arrow-button:hover {
  background-color: #7cb7fa;
}
.arrow-button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo {
  background: url("../assets/promo/promo-decor.png") #043873 center/100% no-repeat;
}
.promo__content {
  padding: 140px 0px 140px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -30px;
  row-gap: 60px;
  color: #ffffff;
}
.promo__body {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 52.735%;
          flex: 1 1 52.735%;
}
.promo__title:not(:last-child) {
  margin-bottom: 24px;
}
.promo__text {
  line-height: 167%;
  letter-spacing: -0.02em;
}
.promo__text:not(:last-child) {
  margin-bottom: 60px;
}
.promo__image {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47.265%;
          flex: 1 1 47.265%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo__img {
  max-width: 100%;
}

.project-management__container {
  position: relative;
}
.project-management__container::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 39.896%;
  height: 100%;
  margin: 17.6% 0px 0px -24.3%;
  background: url("../assets/project-management/project-management-decor.svg") 0 0/100% no-repeat;
}
.project-management__content {
  position: relative;
  padding: 140px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -30px;
  row-gap: 60px;
}
.project-management__body {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 52.735%;
          flex: 1 1 52.735%;
}
.project-management__title:not(:last-child) {
  margin-bottom: 24px;
}
.project-management__text {
  line-height: 167%;
  letter-spacing: -0.02em;
}
.project-management__text:not(:last-child) {
  margin-bottom: 60px;
}
.project-management__image {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47.265%;
          flex: 1 1 47.265%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-management__img {
  max-width: 100%;
}

.work-together__content {
  padding: 100px 0px 140px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -30px;
  row-gap: 100px;
}
.work-together__image {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 52.735%;
          flex: 1 1 52.735%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.work-together__img {
  max-width: 100%;
}
.work-together__body {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47.265%;
          flex: 1 1 47.265%;
}
.work-together__title:not(:last-child) {
  margin-bottom: 24px;
}
.work-together__text {
  line-height: 167%;
  letter-spacing: -0.02em;
}
.work-together__text:not(:last-child) {
  margin-bottom: 60px;
}
.extension {
  background-color: #043873;
}
.extension__content {
  padding: 140px 0px 140px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -30px;
  row-gap: 60px;
  color: #ffffff;
}
.extension__body {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 52.735%;
          flex: 1 1 52.735%;
}
.extension__title:not(:last-child) {
  margin-bottom: 24px;
}
.extension__underline-title::after {
  background: url("../assets/underline-blue.svg") 0 0/100% no-repeat;
}
.extension__text {
  line-height: 167%;
  letter-spacing: -0.02em;
}
.extension__text:not(:last-child) {
  margin-bottom: 60px;
}
.extension__image {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47.265%;
          flex: 1 1 47.265%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.extension__img {
  max-width: 100%;
}

.customise__content {
  padding: 140px 0px 140px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -30px;
  row-gap: 60px;
}
.customise__image {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 52.735%;
          flex: 1 1 52.735%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.customise__img {
  max-width: 100%;
}
.customise__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47.265%;
          flex: 1 1 47.265%;
  padding: 0px 30px;
}
.customise__title:not(:last-child) {
  margin-bottom: 24px;
}
.customise__text {
  line-height: 167%;
  letter-spacing: -0.02em;
}
.customise__text:not(:last-child) {
  margin-bottom: 60px;
}
.pricing__content {
  padding: 140px 0px 140px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing__title {
  text-align: center;
}
.pricing__title:not(:last-child) {
  margin-bottom: 24px;
}
.pricing__text {
  line-height: 167%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #212529;
  max-width: 979px;
}
.pricing__text:not(:last-child) {
  margin-bottom: 60px;
}
.pricing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -16px;
}
.pricing__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 16px;
}

.item-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  height: 100%;
  padding: 40px 44px 40px 44px;
  border: 1px solid #ffe492;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item-pricing:hover {
  padding: 80px 44px 80px 44px;
  color: #ffffff;
  background-color: #043873;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
}
.item-pricing:hover .item-pricing__price {
  color: #ffe492;
}
.item-pricing:hover .item-pricing__list .item-pricing__item::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  min-width: 20px;
  height: 21px;
  content: "";
  background: url("../assets/pricing/pricing-icon2.svg") 0 0 no-repeat;
}
.item-pricing:hover .item-pricing__list .item-pricing__item .item-pricing__feature {
  font-size: 18px;
}
.item-pricing:hover .item-pricing__button {
  border: 1px solid transparent;
}
.item-pricing__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
.item-pricing__price {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.02em;
}
.item-pricing__text {
  font-weight: 500;
  line-height: 128%;
  letter-spacing: -0.02em;
}
.item-pricing__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 28px;
}
.item-pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
}
.item-pricing__item::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  min-width: 20px;
  height: 21px;
  content: "";
  background: url("../assets/pricing/pricing-icon.svg") 0 0 no-repeat;
}
.item-pricing__feature {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
}
.item-pricing__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #ffe492;
}
.item-pricing__button:hover {
  background-color: #4f9cf9;
  color: #ffffff;
}

.your-work {
  background-color: #043873;
}
.your-work__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.your-work__container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 55.5%;
  height: 140%;
  margin: -11.9% 0px 0px -35.9%;
  content: "";
  background: url("../assets/your-work/your-work-decor.svg") 0 0/100% no-repeat;
}
.your-work__content {
  padding: 140px 0px 140px 0px;
  max-width: 1064px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}
.your-work__title {
  text-align: center;
}
.your-work__title:not(:last-child) {
  margin-bottom: 26px;
}
.your-work__underline-title::after {
  background: url("../assets/underline-blue.svg") 0 0/100% no-repeat;
}
.your-work__text {
  line-height: 167%;
  letter-spacing: -0.02em;
  text-align: center;
}
.your-work__text:not(:last-child) {
  margin-bottom: 60px;
}
.your-work__button {
  -ms-flex-item-align: center;
      align-self: center;
}

.sponsors__content {
  padding: 140px 0px 140px 0px;
}
.sponsors__title {
  color: #212529;
  text-align: center;
}
.sponsors__title:not(:last-child) {
  margin-bottom: 100px;
}
.sponsors__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 84.84px;
     -moz-column-gap: 84.84px;
          column-gap: 84.84px;
  row-gap: 100px;
}
.sponsors__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sponsors__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 71px;
  position: relative;
}
.sponsors__icon::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  bottom: -17px;
  left: 0;
  content: "";
  width: 100%;
  height: 7px;
  background-color: #7cb7fa;
}
.sponsors__icon:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.sponsors__img {
  max-height: 71px;
}

.item-sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apps {
  background: url("../assets/apps/apps-decor.png") #043873 center/100% no-repeat;
}
.apps__content {
  padding: 140px 0px 140px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -30px;
  row-gap: 60px;
  color: #ffffff;
}
.apps__image {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 52.735%;
          flex: 1 1 52.735%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.apps__img {
  max-width: 100%;
}
.apps__body {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47.265%;
          flex: 1 1 47.265%;
}
.apps__title:not(:last-child) {
  margin-bottom: 24px;
}
.apps__text {
  line-height: 167%;
  letter-spacing: -0.02em;
}
.apps__text:not(:last-child) {
  margin-bottom: 60px;
}
.reviews__content {
  padding: 140px 0px 212px 0px;
}
.reviews__title {
  text-align: center;
}
.reviews__title:not(:last-child) {
  margin-bottom: 60px;
}
.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -16px;
  row-gap: 32px;
}
.reviews__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 16px;
}

.item-reviews {
  padding: 60px 40px 60px 40px;
  background-color: #4f9cf9;
  border-radius: 10px;
  color: #ffffff;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-reviews:hover {
  color: #212529;
  -webkit-box-shadow: 15px 10px 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 15px 10px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.item-reviews:hover svg path {
  fill: #043873;
}
.item-reviews:hover .item-reviews__comment {
  border-bottom: 1px solid #212529;
}
.item-reviews__comment {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 1px solid #ffffff;
  padding: 0px 0px 36px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.item-reviews__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62px;
          flex: 0 0 62px;
  width: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item-reviews__icon:not(:last-child) {
  margin-bottom: 32px;
}
.item-reviews__icon svg {
  max-width: 100%;
  max-height: 62px;
}
.item-reviews__text {
  line-height: 167%;
  letter-spacing: -0.02em;
}
.item-reviews__profile {
  padding: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}

.profile__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95px;
          flex: 0 0 95px;
  height: 95px;
}
.profile__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
.profile__name:not(:last-child) {
  margin-bottom: 15px;
}
.profile__position {
  line-height: 125%;
  letter-spacing: -0.02em;
  font-size: 16px;
}

.free-trial {
  background-color: #043873;
}
.free-trial__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.free-trial__content {
  padding: 140px 0px 32px 0px;
  max-width: 608px;
  text-align: center;
  color: #ffffff;
}
.free-trial__title:not(:last-child) {
  margin-bottom: 24px;
}
.free-trial__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
}
.free-trial__body:not(:last-child) {
  margin-bottom: 40px;
}
.free-trial__text {
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.02em;
}
.free-trial__button {
  font-size: 16px;
}
.free-trial__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.item-free-trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-free-trial__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  min-width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-free-trial__img {
  max-height: 60px;
  max-width: 100%;
}