/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:500&display=swap');
@import '_null';

html {
  font-size: 18px;
}
body {
  font-family: 'Inter', sans-serif;
  color: #212529;
  line-height: 1;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1511px;
  padding: 0px 15px;
}

.header {
}
.main {
  flex: 1 1 auto;
}
.footer {
}
