@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  font-family: "Inter", sans-serif;
  color: #212529;
  line-height: 1;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1511px;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
  color: #212529;
}

.button {
  padding: 20px 40px 20px 40px;
  background: #4f9cf9;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #fff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.your-work {
  background: #043873;
}
.your-work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.your-work__content {
  padding: 148px 0px 140px 0px;
  max-width: 1064px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.your-work__title {
  color: #fff;
  text-align: center;
}
.your-work__title:not(:last-child) {
  margin-bottom: 32px;
}
.your-work__text {
  line-height: 167%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.your-work__text:not(:last-child) {
  margin-bottom: 60px;
}
.your-work__button {
  -ms-flex-item-align: center;
      align-self: center;
}