/* 
&display=swap
&subset=cyrillic-ext 
*/
@import '_null';
@import url('https://fonts.googleapis.com/css?family=League+Spartan:300,400,500');

html {
  font-size: 32px;
}
body {
  line-height: 1;
  font-family: 'League Spartan', sans-serif;
  color: #161515;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1170px;
  padding: 0px 15px;
}
